build/
.classpath
.project
.settings
.settings/

context.xml
nb-configuration.xml
*.class
persistence.xml
client_secret.json

target/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
