build/
.classpath
.project
.settings
.settings/

context.xml
nb-configuration.xml
*.class

target/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
